.btn{
    font-size: 500;
    background-color: hsl(0, 0%, 20%);
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    height: 30px;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: hsl(75, 94%, 57%);
    /* text-shadow: 10px 10px; */
}